{% extends 'base.html.twig' %}

{% import '@AcmeNews/news/macros/news_list.html.twig' as nl %}

{% block body %}
    {% spaceless %}



        <!-- Post Content Column -->
        <div class="col-lg-8">

            {% if item.published == true %}

                <!-- Title -->
                <h1 class="mt-4"></h1>

                <hr>

                <p>Posted on {{ item.createdAt|date('j F, Y H:i') }}</p>

                <hr>

                <!-- News Content -->
                <div class="news_content">
                    <p>{{ item.textFull }}</p>
                </div>

                <hr>

            {% else %}

                <p> Новость на модерации </p>

            {% endif %}

            <!-- Random News Content -->
            {% if news is not empty %}

                {{ nl.news_list(news) }}

            {% endif %}

        </div>
    {% endspaceless %}
{% endblock %}

